body {
    font-family: sans-serif;
}

#example-inline-configuration-for-dzi {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    color: #333;
    background-color: black;
}

.overlay {
    padding: 1em;
    background-color: rgba(128, 64, 128, 0.5);
    color: white;
    display: inline-block;
}

.viewer-wrapper {
    position: relative;
}

.slider {
    /*position: absolute;
    height: 100%;
    right: 0;
    top: 0;*/
    height: 125px;
}
.example {
    position: relative;
    padding: 40px 60px 50px 30px;
    margin: 20px 0;
    overflow: hidden;
    /*height: 200px;*/
}

.buttons-wrapper {
    position: absolute;
    left: 729px;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    top: 0;
    width: 75px;
    z-index: 1;

    padding-top: 50px;
}

.slider-wrapper {
    position: absolute;
}

.slider {
    position: absolute;
    top: 0;
    left: 20px;
}

.pips {
    position: absolute;
    top: 0;
    left: 40px;

    font-size: 10px;
}